.myBtn {
    width: 10px!important;
    min-width: unset!important;
}

.inline-block {
    display: inline-block;
  }

  /* .ttaIcon {
    line-height: 0 !important;
  } */
  
  .material-icons {
    line-height: inherit;
  }
  