<mat-card>
    <mat-card-content>
        <mat-card-title></mat-card-title>
        <div>
            <h2>
                <p [style.color]="inputColor" (click)="changeColor()">
                    <mat-icon class="ttaIcon" fontIcon="music_note"></mat-icon>Culture: {{cultureCounter}}
                </p>

            </h2>
        </div>
        <button mat-raised-button class="myBtn" (click)="addCulture()">+1</button>
        <button mat-raised-button class="myBtn" (click)="minusCulture()">-1</button>
        <button mat-raised-button class="myBtn" (click)="addEachTurnCulture()">+{{eachTurnCultureCounter}}</button>
        <button mat-raised-button class="myBtn" (click)="minusEachTurnCulture()">-</button>
        <button mat-raised-button (click)="resolveCulture()">ResolveCultura</button>
        <h2>
            <p [style.color]="inputColor" (click)="changeColor()">
                <mat-icon class="ttaIcon" fontIcon="emoji_objects"></mat-icon>Science: {{scienceCounter}}
            </p>
        </h2>

        <button mat-raised-button class="myBtn" (click)="addScience()">+1</button>
        <button mat-raised-button class="myBtn" (click)="minusScience()">-1</button>
        <button mat-raised-button class="myBtn" (click)="addEachTurnScience()">+{{eachTurnScienceCounter}}</button>
        <button mat-raised-button class="myBtn" (click)="minusEachTurnScience()">-</button>
        <button mat-raised-button (click)="resolveScience()">ResolveScience</button>
    </mat-card-content>
</mat-card>