.ttaBtn {
    padding: 7px;
    padding-bottom: 10px;
}

  :host-context(.theme-green) h5 {
    background-color: green;
 }
 
 :host-context(.theme-red) h5 {
    background-color: red;
 }
 
 .main {
  background-color: black;
 }
 
 .inline-block{
   margin-left: 4px;
   margin-top: 4px;   
 }

